@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;

    font-family: Ubuntu, sans-serif;

    background: rgb(95,88,209);
    background: linear-gradient(61deg, rgba(95,88,209,1) 0%, rgba(63,9,121,1) 50%, rgba(170,0,255,1) 100%);
}
.welcome{
    width:100%;
    height:100%;
    text-align:center;
    color:white;
    background:black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.text{
    position: relative;
    top:20%;
    -webkit-animation: fadein 2s; 
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.welcome h1{
    font-weight:bolder;
    font-size:3em;
    
}
.welcome h2{
    font-weight:bolder;
    font-size:2em;

}
.welcome a{
    scroll-behavior: smooth;
    text-decoration:none;
    color:white;
}
.charts{
    top:100%;
    width:100%;
    height:100%;
    text-align:center;
    color:white;
    background: rgb(95,88,209);
    background: linear-gradient(61deg, rgba(95,88,209,1) 0%, rgba(63,9,121,1) 50%, rgba(170,0,255,1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.chart-text{
    top:40%;
    width:50%;
    height:100%;
    text-align: center;
    color:white;
    position:relative;
    float:left;
}
.chart-image{
    
    top:25%;
    width:50%;
    height:100%;
    float:right;
    position:relative;
}
.chart-image img{
    width:80%;
    height:50%;
    position:relative;
    image-rendering: pixelated;
}
.events{
    top:200%;
    width:100%;
    height:100%;
    text-align:center;
    color:white;
    background: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.event-text{
    top:40%;
    width:50%;
    height:100%;
    text-align: center;
    color:white;
    position:relative;
    float:right;
}
.event-image{
    
    top:25%;
    width:50%;
    height:100%;
    float:left;
    position:relative;
}
.event-image img{
    width:80%;
    height:50%;
    position:relative;
   
    border-radius:20px;
}
.container{
    top:300%;
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    padding: 8% 0% 4% 0%;
    width: 100%;
    text-align: center;
}

.head p{
    font-size: 17pt;
    display: inline-block;
    margin-bottom: 1%;
}

.head span{
    font-size: 10pt;
    color: gray;
}

.login{
    background-color: white;
    width: 20%;
    border-radius: 5px;
}

.register{
    background-color: white;
    width: 20%;
    border-radius: 5px;
}

.inputs{
    padding: 8% 0% 4% 0;
    width: 65%;
    margin: auto;
}

.inputs input{
    margin-bottom: 3%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 4% 0 4% 2%;
    outline: none;
    transition: border 0.2s ease-in-out;
    width: 88%;
    font-size: 9pt;
}

.inputs i{
    color: gray;
    padding-right: 2%;
}

.inputs input:focus{
    border-bottom: 2px solid #057885;
}

.inputs span{
    font-size: 10pt;
    margin-bottom: 3%;
    display: block;
}

.btn-login{
    border: none;
    border-radius: 4px;
    padding: 4% 2vw;
    color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    font-family: Ubuntu, sans-serif;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-bottom: 5%;
    margin-top: 7%;
}

.btn-login:hover{
    background-color: black;
    color: white;
}

.between{
    width: 1px;
    height: 40%;
    background-color: gray;
    margin: 0 7%;
}

.forget{
    color: gray;
    font-size: 8pt!important;
    display: block;
    cursor: pointer;        
}

.forget:hover{
    color: #b0b5ae;
}